<!--<script>
 window.addEventListener("DOMContentLoaded", function(){
  $("div").first().removeClass("with-summary");
 });
</script> -->

<script async defer data-domain="basedmethod.org" src="https://plausible.io/js/plausible.js"></script>
